@import './variables.css';

.btn {
    background-color: var(--color-primary);
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: var(--color-secondary);
  }
  
 